@import '../sass/global';

.btn {
  @extend .animated-button;
  cursor: pointer;
}

.resumen-background {
  background-image: url(/assets/desk-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  svg {
    @media (max-width: $sm-max-width) {
      transform: scale(1.4);
    }
  }
}