@import '../../sass/global';

.notificaciones-popup {
  height: 90%;
  top: 7%;
  right: 15%;
  position: absolute;
  width: 40%;
  z-index: 2;

  &:before {
    content: "";
    background-image: url(/assets/notificaciones/triangulo.svg);
    position: absolute;
    right: -60px;
    width: 61px;
    top: 30px;
    background-repeat: no-repeat;
    height: 40px;
    background-size: cover;
    transform: scaleY(-1);
    z-index: 2;
  }

  .email-screen {
    float: right;
    background-color: white;
    box-sizing: border-box;
    padding: 10px 15px;
    height: 100%;

    .email-selection {
      width: 100%;
      box-sizing: border-box;
      display: inline-block;
      border-bottom: 2px solid $gray-dark;
      .email-link {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 5px;
        font-size: 14px;
        @media screen and (max-width: 10233px) {
          font-size: 12px;
        }
        cursor: pointer;
        min-height: 52px;
        img {
          width: 20%;
          float: left;
          margin-top: 6px;
        }
        p {
          @extend .font-roboto;
          font-size: 14px;
          @media screen and (max-width: 1023px) {
            font-size: 12px;
          }
          max-width: 74%;
          margin: 9px 0 9px 5%;
          float: left;
        }

        &.active {
          background-color: $gray-dark;
        }
      }
    }

    .email-header {
      overflow: hidden;
      width: 100%;
      padding-bottom: 15px;
      border-bottom: 2px solid $gray-dark;
      margin-top: 8px;

      .email-from-pic-container {
        float: left;
        width: 15%;
        img {
          width: 100%;
        }
      }

      .email-data {
        width: 80%;
        float: left;
        margin-left: 4%;
        p {
          @extend .font-roboto;
          font-size: 15px;
          @media screen and (max-width: 1023px) {
            font-size: 13px;
          }
          margin: 0;
        }
      }

      .email-tag-container {
        margin-top: 3px;
        .email-tag {
          @extend .font-roboto;
          font-weight: bold;
          padding: 5px 8px;
          font-size: 11px;
          margin-left: 20px;
          position: relative;
          &:before {
            content: "";
            background-image: url(/assets/notificaciones/carpeta.png);
            position: absolute;
            left: -21px;
            background-size: contain;
            width: 20px;
            top: -1px;
            background-repeat: no-repeat;
            height: 25px;
          }
        }
      }
    }

    .email-body {
      height: 70%;

      p {
        @extend .font-roboto;
        font-size: 15px;
        @media screen and (max-width: 1023px) {
          font-size: 14px;
        }
      }

      .email-body-article-container {
        text-align: center;
        .email-body-article {

        }
      }
    }
  }

  img, object {
    max-width: 100%;
  }
}


.email-body.notificacion-quote {
  p.top-email-text {
    font-size: 15px;
    @media screen and (max-width: 1023px) {
      font-size: 14px;
    }
  }

  p.quote {
    padding: 3% 10%;
    font-size: 17px;
    @media screen and (max-width: 1023px) {
      font-size: 15px;
    }
    line-height: 1.5;
    font-style: italic;
  }

  p.bottom {
    position: absolute;
    bottom: 5px;
    font-size: 13px;
  }
}

.email-body.notificacion-quote-2 {
  @extend .notificacion-quote;
  p.quote {
    padding: 2%;
  }
}

.email-body.notificacion-quote-slim {
  @extend .notificacion-quote;
  p.quote {
    padding: 0;
  }
}

.email-body.svg-body {
  img, object {
    position: absolute;
    height: 95%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.email-body.svg-body-only {
  @extend .svg-body;
  img, object {
    max-width: 80%;
    bottom: 14%;
    height: auto;
  }
  &.shorter-svg {
    img, object {
      max-width: 72%;
    }
  }
}

.email-body.svg-body-post {
  @extend .svg-body;
  img, object {
    height: 85%;
    @media screen and (max-width: 1280px) {
      height: 70%;
    }
    @media screen and (max-width: 1023px) {
      height: 60%;
    }
  }

}

.email-body.svg-trimmed-body {
  @extend .email-body.svg-body;
  img, object {
    height: 70%;
  }
}

.email-body.svg-body-on-side {
  img, object {
    width: 43%;
  }
  .side {
    float: right;
    width: 50%;
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;
  }
  .lower {
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;
  }
}