@import '../../sass/global';

.notificaciones-popup {

  height: 90%;
  top: 7%;
  right: 15%;
  position: absolute;
  width: 40%;
  z-index: 3;
  @media (max-width: $sm-max-width) {
    height: 93%;
    top: 7%;
    right: 1%;
    width: 48%;
  }

  &:before {
    content: "";
    background-image: url(/assets/notificaciones/triangulo.svg);
    position: absolute;
    right: -60px;
    width: 61px;
    top: 30px;
    background-repeat: no-repeat;
    height: 40px;
    background-size: cover;
    transform: scaleY(-1);
    z-index: 3;
  }

  .email-screen {
    float: right;
    background-color: white;
    box-sizing: border-box;
    padding: 10px 15px;
    @media (max-width: $sm-max-width) {
      padding: 5px 10px;
    }
    height: 100%;

    .email-selection {
      width: 100%;
      box-sizing: border-box;
      display: inline-block;
      border-bottom: 2px solid $gray-dark;
      .email-link {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 0 5px;
        font-size: 14px;
        @media screen and (max-width: 1023px) {
          font-size: 12px;
        }
        cursor: pointer;
        min-height: 52px;
        img {
          width: 20%;
          float: left;
          margin-top: 6px;
          @media (max-width: $sm-max-width) {
            display: none;
          }
        }
        p {
          @extend .font-roboto;
          font-size: 14px;
          @media screen and (max-width: 1023px) {
            font-size: 12px;
          }
          max-width: 74%;
          @media (max-width: $sm-max-width) {
            max-width: 100%;
          }
          margin: 9px 0 9px 5%;
          float: left;
        }

        &.active {
          background-color: $gray-dark;
        }
      }
    }

    mensaje-propuesta {

      .email {
        height: 100%;
      }

      .email-header {
        overflow: hidden;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 2px solid $gray-dark;
        margin-top: 8px;
        @media (max-width: $sm-max-width) {
          margin-top: 3px;
          padding-bottom: 3px;
        }

        .email-from-pic-container {
          float: left;
          width: 15%;
          img {
            width: 100%;
          }
        }

        .email-data {
          width: 80%;
          float: left;
          margin-left: 4%;
          p {
            @extend .font-roboto;
            font-size: 15px;
            @media screen and (max-width: 1023px) {
              font-size: 13px;
            }
            margin: 0;
          }
        }

        .email-tag-container {
          margin-top: 3px;
          @media (max-width: $sm-max-width) {
            display: none;
          }
          .email-tag {
            @extend .font-roboto;
            font-weight: bold;
            padding: 5px 8px;
            @media (max-width: $sm-max-width) {
              padding-left: 0;
            }
            font-size: 11px;
            margin-left: 20px;
            position: relative;
            &:before {
              content: "";
              background-image: url(/assets/notificaciones/carpeta.png);
              position: absolute;
              left: -21px;
              background-size: contain;
              width: 20px;
              @media (max-width: $sm-max-width) {
                width: 15px;
              }
              top: -1px;
              background-repeat: no-repeat;
              height: 25px;
            }
          }
        }
      }

      .email-body {
        height: 71%;
        overflow-y: auto;
        @media screen and (max-width: $lg-max-width) {
          overflow-y: auto;
          height: 64%;
        }

        p {
          @extend .font-roboto;
          font-size: 15px;
          @media screen and (max-width: 1023px) {
            font-size: 14px;
          }
          @media screen and (max-width: $sm-max-width) {
            margin-top: 0;
          }
        }

        .email-body-article-container {
          text-align: center;
          .email-body-article {

          }
        }
      }
    }

    img, object {
      max-width: 100%;
    }
  }
}


.email-body.notificacion-quote {
  p.top-email-text {
    font-size: 15px;
    @media screen and (max-width: 1023px) {
      font-size: 13px;
    }
    @media screen and (max-width: $sm-max-width) {
      margin-top: 0;
    }
  }

  p.quote {
    padding: 3% 10%;
    font-size: 17px;
    @media screen and (max-width: 1023px) {
      font-size: 15px;
    }
    line-height: 1.5;
    font-style: italic;
    @media screen and (max-width: $sm-max-width) {
      padding: 1% 10%;
      margin: 0;
      font-size: 13px;
    }
  }

  p.bottom {
    position: absolute;
    bottom: 5px;
    font-size: 13px;
    margin-bottom: 0;
    @media screen and (max-width: $sm-max-width) {
      display: none;
    }
  }
}

.email-body.notificacion-quote-2 {
  @extend .notificacion-quote;
  p.quote {
    padding: 2%;
    @media screen and (max-width: $sm-max-width) {
      padding: 1%;
    }
  }
}

.email-body.notificacion-quote-slim {
  @extend .notificacion-quote;
  p.quote {
    padding: 0;
  }
}

.email-body.svg-body {
  img, object {
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 23%;
    @media screen and (max-width: $sm-max-width) {
      top: 30%;
    }
  }
  &.svg-bottom {
    img, object {
      @media screen and (max-width: $sm-max-width) {
        top: initial;
      }
    }
  }
}

.email-body.svg-body-only {
  @extend .svg-body;
  position: relative;
  img, object {
    top: auto;
    width: 90%;
    max-width: 100%;
    bottom: 19%;
    @media (max-width: $sm-max-width) {
      bottom: 0%;
    }
    height: auto;
  }
  &.shorter-svg {
    img, object {
      max-width: 72%;
    }
  }
}

.email-body.svg-body-post {
  @extend .svg-body;
  img, object {
    top: auto;
    height: 90%;
    bottom: -10px;
    @media screen and (max-width: 1280px) {
      height: 70%;
    }
    @media screen and (max-width: 1023px) {
      height: 60%;
    }
  }

}

.email-body.svg-trimmed-body {
  @extend .email-body.svg-body;
  position: relative;
  overflow-y: scroll;
  img, object {
    height: auto;
    width: 100%;
    position: relative;
    @media (max-width: $sm-max-width) {
      height: 130%;
      transform: scale(1.1);
      position: relative;
      top: 0;
    }
  }
}

.email-body.svg-body-on-side {
  img, object {
    width: 43%;
  }
  .side {
    float: right;
    width: 50%;
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;
  }
  .lower {
    font-size: 16px;
    line-height: 1.5;
    font-style: italic;
  }
}