@import '../../sass/global';

.asesor-container {
  z-index: 7;
  display: inline-block;
  width: 25%;
  min-width: 350px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  background-color: white;
  border-radius: 35px;
  left: 0;
  top: 0;
  transform: translateY(35%);
  @media (max-width: $sm-max-width) {
    transform: translateY(3%);
    width: 75%;
  }
  padding: 10px 40px;

  .asesor-text {
    @extend .font-roboto;
    text-align: left;
    margin: 12px 0 16px 0;
    @media (max-width: $sm-max-width) {
      margin: 3px 0 5px 0;
      font-size: 18px;
      text-align: center;
    }
  }

  .asesor-box-container {
    padding: 10px 15px;
    border: solid 3px $gray-darker;
    border-radius: 35px;
    margin-bottom: 35px;
    @media (max-width: $sm-max-width) {
      margin-bottom: 0;
      padding-bottom: 45px;
      padding-left: 40px;
      padding-right: 40px;
    }
    position: relative;
    .asesor-seleccionar-text {
      @extend .asesor-text;
      color: $gray-darker;
      margin-bottom: 25px;
      @media (max-width: $sm-max-width) {
        margin-bottom: 10px;
      }
    }

    .asesores {
      position: absolute;
      bottom: -85px;
      @media (max-width: $sm-max-width) {
        bottom: -70px;
      }
      text-align: center;
      left: 0;
      right: 0;
      width: 100%;
      a.asesor-thumb {
        padding: 8px;
        @media (max-width: $sm-max-width) {
          float: left;
        }

        img {
          width: 100px;
          border: 6px solid transparent;
          border-radius: 50%;
        }

        &.active {
          img {
            border-radius: 50%;
            border: 6px solid $selected-asesor-border;
          }
        }
      }
    }
  }

  .asesor-button-container {
    text-align: center;
    margin-top: 90px;
    @media (max-width: $sm-max-width) {
      margin-top: 0;
      float: right;
      position: relative;
      bottom: 20px;
    }
    .asesor-button {
      width: 50%;
      @media (max-width: $sm-max-width) {
        width: 65%;
      }
      cursor: pointer;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition:.3s;

      &:hover {
        transform: scale(1.15);
        transform-origin: 50% 50%;
        transition:.3s;
      }
    }
  }
}


.susi-container {
  position: absolute;
  right: 3%;
  bottom: 3%;
  width: 10%;
  .item-asesor {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    a {
      display: block;
      img {
        max-height: 90px;
      }
    }

    .susi-border {
      border: 6px solid $susi-border;
      border-radius: 100%;
      max-width: 90px;
    }

    .sidebar-susi {
      position: relative;
    }
  }
  .mensaje-susi {
    position: absolute;
    right: 130px;
    width: 300px;
    background: white;
    padding: 25px 40px 25px 25px;
    border: 1px solid $gray-darker;
    border-radius: 35px;
    bottom: 15px;
    @extend .font-roboto;
    text-align: left;
  }

}

.resumen-background {
  background-image: url(/assets/desk-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}