@import '../../sass/global';
.notificaciones-popup {
  position: absolute;
  width: 85%;
  height: 92%;
  top: 0;
  left: 4%;
  &:before {
    content: "";
    background-image: url(/assets/notificaciones/triangulo.svg);
    position: absolute;
    right: 37px;
    width: 61px;
    top: 30px;
    background-repeat: no-repeat;
    height: 40px;
    background-size: cover;
    transform: scaleY(-1);
    z-index: 2;
  }
  .inside-screen {
    border: 1px solid $gray-light;
    position: absolute;
    width: 85%;
    top: 5%;
    left: 6%;
    height: 90%;
    overflow: hidden;

    .email-column {
      width: 22%;
      float: left;
      display: inline-block;
      background-color: $gray-light;
      height: 100%;
      border-right: 1px solid $gray;
      box-sizing: border-box;
      .email-link {
        padding: 10px 5px;
        border-bottom: 1px solid $gray;
        font-size: 14px;
        cursor: pointer;
        img {
          width: 25%;
          float: left;
          margin-top: 9px;
        }
        p {
          @extend .font-roboto;
          margin-left: 29%;
          font-size: 13px;
        }

        &.active {
          background-color: $gray-dark;
        }
      }
    }

    .email-screen {
      width: 78%;
      float: right;
      height: 100%;
      background-color: white;
      box-sizing: border-box;
      padding: 10px 15px;
      .email-header {
        overflow: hidden;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 3px solid black;

        .email-from-pic-container {
          float: left;
          width: 16%;
          img {
            width: 100%;
          }
        }

        .email-data {
          width: 47%;
          float: left;
          margin-left: 10px;
          margin-top: 15px;
          p {
            @extend .font-roboto;
            font-size: 15px;
            margin: 0;
          }
          .email-asunto {
            margin-top: 15px;
          }
        }

        .email-tag-container {
          float: right;
          margin-top: 25px;
          .email-tag {
            @extend .font-roboto;
            padding: 5px 8px;
            font-size: 11px;
            background-color: $gray-light;
            position: relative;
            &:before {
              content: "";
              background-image: url(/assets/notificaciones/carpeta.png);
              position: absolute;
              left: -27px;
              background-size: contain;
              width: 37px;
              top: -10px;
              background-repeat: no-repeat;
              height: 42px;
            }
          }
        }
      }

      .email-body {
        p {
          @extend .font-roboto;
          font-size: 15px;
        }

        .email-body-article-container {
          text-align: center;
          .email-body-article {

          }
        }
      }
    }
  }
}