<div class="carpetas">
  <div class="carpeta-object ob-carpeta-1 clickable-svg" (click)="carpetasClick('pa')" [ngClass]="getPropuestaSeleccionada('pa')">
    <img src="/assets/carpetas/pantallas_04-carpetas_carpeta-pa.svg" />
  </div>
  <div class="carpeta-object ob-carpeta-2 clickable-svg" (click)="carpetasClick('pe')" [ngClass]="getPropuestaSeleccionada('pe')">
    <img src="/assets/carpetas/pantallas_04-carpetas_carpeta-pe.svg" />
  </div>
  <div class="carpeta-object ob-carpeta-3 clickable-svg" (click)="carpetasClick('ps')" [ngClass]="getPropuestaSeleccionada('ps')">
    <img src="/assets/carpetas/pantallas_04-carpetas_carpeta-ps.svg" />
  </div>
  <div class="carpeta-object ob-carpeta-4 clickable-svg" (click)="carpetasClick('pld')" [ngClass]="getPropuestaSeleccionada('pld')">
    <img src="/assets/carpetas/pantallas_04-carpetas_carpeta-pld.svg" />
  </div>
  <div class="carpeta-object ob-carpeta-5 clickable-svg" (click)="carpetasClick('fpj')" [ngClass]="getPropuestaSeleccionada('fpj')">
    <img src="/assets/carpetas/pantallas_04-carpetas_carpeta-fpj.svg" />
  </div>
  <img class="carpeta-object ob-lapiceras" src="/assets/carpetas/pantallas_04-carpetas_lapiz-lapic.svg" />
  <img class="carpeta-object ob-cafe" src="/assets/pantallas_02-05-cafe.svg" />
</div>
<asesor [exclude]="'carpetas'"></asesor>
<div class="progress-bar">
  <div class="folder" *ngFor="let propuesta of progresoPropuestas">
    <img src="/assets/desk/folder-done.svg" *ngIf="propuesta"/>
    <img src="/assets/desk/folder.svg" *ngIf="!propuesta"/>
  </div>
</div>