<div class="columna-asesor">
  <div class="item-asesor">
    <a (click)="toggleNotificaciones()" [ngStyle]="itemsStyle" *ngIf="exclude !== 'celular'">
      <img src="/assets/menu-lateral/menu-lateral-03.svg">
      <span class="asesor-item-name">Celular</span>
    </a>
  </div>
  <div class="item-asesor" [ngStyle]="itemsStyle" *ngIf="exclude !== 'carpetas'">
    <a [routerLink]="'/carpetas'">
      <img src="/assets/menu-lateral/menu-lateral-06.svg">
      <span class="asesor-item-name">Carpetas</span>
    </a>
  </div>
  <div class="item-asesor" [ngStyle]="itemsStyle" *ngIf="exclude !== 'cuaderno'">
    <a [routerLink]="'/cuaderno'">
      <img src="/assets/menu-lateral/menu-lateral-05.svg">
      <span class="asesor-item-name">Cuaderno</span>
    </a>
  </div>
  <div class="item-asesor" *ngIf="exclude !== 'escritorio'">
    <a [routerLink]="'/'">
      <img src="/assets/menu-lateral/menu-lateral-07.svg">
      <span class="asesor-item-name">Escritorio</span>
    </a>
  </div>
  <div class="item-asesor sidebar-susi" *ngIf="exclude !== 'susi'">
    <a href="#" (click)="showMensajeActual()">
      <img class="susi-border" src="/assets/asesor/{{nombre}}-thumb.svg">
      <span class="asesor-item-name">{{nombre}}</span>
    </a>
    <div class="mensaje-asesor text-left" *ngIf="mostrarMensaje">
      <pre>{{mensaje.texto}}</pre>
      <div class="mensaje-btn-container">
        <div class="mensaje-btn" *ngFor="let btn of mensaje.btn" [ngClass]="btn.style" (click)="btn.cb()">
          {{btn.text}}
        </div>
      </div>
    </div>
  </div>
</div>
<elegir-asesor *ngIf="!nombre" (asesorNameChange)="getAsesorNombre($event)"></elegir-asesor>