<img class="hamburguer" [ngClass]="{'visible': !asesorVisibleXS}" (click)="hamburguerClick()" src="/assets/asesor/hamburguer.png">

<div class="columna-asesor" [ngClass]="{'visible': asesorVisibleXS}">
<!--  <div class="item-asesor">
    <a (click)="toggleNotificaciones()" [ngStyle]="itemsStyle" *ngIf="exclude !== 'celular'" [ngClass]="{'destacado': destacado === 'celular'}">
      <img src="/assets/menu-lateral/menu-lateral-03.svg">
      <span class="asesor-item-name">Celular</span>
    </a>
  </div>-->
  <div class="item-asesor" [ngStyle]="itemsStyle" *ngIf="exclude !== 'carpetas'" [ngClass]="{'destacado': destacado == 'carpetas'}">
    <a [routerLink]="'/carpetas'">
      <img src="/assets/menu-lateral/menu-lateral-06.svg">
      <span class="asesor-item-name">Carpetas</span>
    </a>
  </div>
  <div class="item-asesor" [ngStyle]="itemsStyle" *ngIf="exclude !== 'cuaderno'" [ngClass]="{'destacado': destacado == 'cuaderno'}">
    <a [routerLink]="'/cuaderno'">
      <img src="/assets/menu-lateral/menu-lateral-05.svg">
      <span class="asesor-item-name">Cuaderno</span>
    </a>
  </div>
  <div class="item-asesor item-asesor-small" *ngIf="exclude !== 'escritorio'" [ngClass]="{'destacado': destacado =='escritorio'}">
    <a [routerLink]="'/'">
      <img src="/assets/menu-lateral/menu-lateral-07.svg">
      <span class="asesor-item-name">Escritorio</span>
    </a>
  </div>
  <div class="item-asesor sidebar-susi" *ngIf="exclude !== 'susi' || !nombre">
    <a href="#" (click)="toggleMensajeActual()">
      <img class="susi-border" src="/assets/asesor/{{nombre}}-thumb.svg">
      <span class="asesor-item-name">{{nombres.EL}}</span>
    </a>
    <div class="mensaje-asesor text-left mensaje-asesor-desktop" *ngIf="mostrarMensaje">
      <pre [innerHTML]="mensaje.texto"></pre>
      <div class="mensaje-btn-container">
        <div class="mensaje-btn" *ngFor="let btn of mensaje.btn" [ngClass]="btn.style" (click)="btn.cb()">
          {{btn.text}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="standalone-susi" *ngIf="(exclude !== 'susi' || !nombre) && mostrarMensaje">
  <a href="#" (click)="toggleMensajeActual()">
    <img class="susi-border" src="/assets/asesor/{{nombre}}-thumb.svg">
  </a>
  <div class="mensaje-asesor text-left">
    <pre [innerHTML]="mensaje.texto"></pre>
    <div class="mensaje-btn-container">
      <div class="mensaje-btn" *ngFor="let btn of mensaje.btn" [ngClass]="btn.style" (click)="btn.cb()">
        {{btn.text}}
      </div>
    </div>
  </div>
</div>
<elegir-asesor *ngIf="!nombre" (asesorNameChange)="getAsesorNombre($event)"></elegir-asesor>
<overlay (overlayClick)="overlayClick()"></overlay>