@import '../sass/global';

$susi-border: #163D57;

.columna-asesor {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 140px;
  width: 10%;
  background: rgba(black, .55);
  padding: 10px 0;
  z-index: 10;

  .item-asesor {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    a {
      display: block;
      img {
        max-height: 90px;
      }
    }

    .mensaje-asesor {
      &:before {
        background: url(/assets/asesor/triangulo-dialogo.png) no-repeat;
        position: absolute;
        height: 30px;
        bottom: -30px;
        right: 40px;
        width: 60px;
        content: '';
      }

      pre {
        @extend .font-roboto;
        white-space: pre-line;
      }
      .mensaje-btn-container {
        text-align: center;
        .mensaje-btn {
          display: inline-block;
          padding: 7px;
          min-height: 20px;
          line-height: 20px;
          min-width: 20px;
          margin: 6px 15px;
          border-radius: 50%;
          color: white;
          cursor: pointer;
          &.btn-green {
            background-color: #7AAD38;
          }
          &.btn-red {
            background-color: #8C2B2B;
          }

        }
      }
    }

    .asesor-item-name {
      color: white;
      font-weight: bold;
      display: block;
      opacity: 0;
      transition: opacity .5s ease;
      text-transform: uppercase;
    }

    &:hover {
      .asesor-item-name {
        opacity: 1;
      }
    }

    .susi-border {
      max-width: 90px;
    }

    &.sidebar-susi {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      .item-asesor {
        margin-bottom: 12px;
      }
    }
  }
}

.mensaje-asesor {
  position: absolute;
  right: 130px;
  width: 350px;
  background: white;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 30px;
  bottom: 100px;
  text-align: left;
  @extend .font-roboto;
}
