@import '../sass/global';

.resumen-background {
  background-image: url(/assets/desk-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.right-text {
  @extend .font-roboto-regular;
  position: absolute;
  top: 23%;
  left: 58.9%;
  width: 28%;
  font-size: 17px;
  line-height: 1.15;
  max-height: 66%;
  overflow-y: hidden;
  @media (max-width: $sm-max-width) {
    top: 10%;
    left: 59%;
    width: 30%;
    max-height: 72%;
    overflow-y: scroll;
  }
}

svg {
  @media (max-width: $sm-max-width) {
    transform: scale(1.13);
  }

  #btn_x5F_comenzar_x5F_14 {
    @extend .animated-button;
    cursor: pointer;
  }

  .btn {
    @extend .animated-button;
    cursor: pointer;
  }

  .resultado-semaforo {
    text-transform: uppercase;
    &.alto {
      fill: #008A49;
    }
    &.medio {
      fill: #FBB03B;
    }
    &.bajo {
      fill: #C1272D;
    }

    &.invertir-colores {
      &.alto {
        fill: #C1272D;
      }
      &.bajo {
        fill: #008A49;
      }
    }
  }
}


.ps-container.right-text {
  position: absolute;
  .text-container {
    width: 82%;
    p {
      font-family: "Roboto-Regular", "Roboto";
    }
  }
  &> .ps-scrollbar-y-rail {
    opacity: 1 !important;
    background-color: #808080 !important;
    width: 5px;
    right: 19px !important;
    .ps-scrollbar-y {
      background-color: #497D9E;
      right: 0;
      width: 30px;
      height: 10px;
      left: -13px;
    }
  }
}

.btn-volver {
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 5%;
}