@import '../sass/global';

.resumen-background {
  background-image: url(/assets/desk-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.right-text {
  @extend .font-roboto-regular;
  position: absolute;
  top: 23%;
  left: 61%;
  width: 20%;
  font-size: 16px;
  line-height: 1.15;
  max-height: 66%;
  overflow-y: hidden;
  @media (max-width: $sm-max-width) {
    top: 10%;
    left: 59%;
    width: 30%;
    max-height: 72%;
    overflow-y: scroll;
  }
}

svg {
  @media (max-width: $sm-max-width) {
    transform: scale(1.13);
  }

  #btn_x5F_comenzar_x5F_14 {
    cursor: pointer;
  }

  .btn {
    cursor: pointer;
  }

  .resultado-semaforo {
    text-transform: uppercase;
    &.alto {
      fill: #008A49;
    }
    &.medio {
      fill: #FBB03B;
    }
    &.bajo {
      fill: #C1272D;
    }

    &.invertir-colores {
      &.alto {
        fill: #C1272D;
      }
      &.bajo {
        fill: #008A49;
      }
    }
  }
}