.propuestas {
  background: url('/assets/cuaderno/pantallas_03c-cuaderno_fondo.png') no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .propuestas-object {
    position: absolute;
  }

  .clickable-svg {
    cursor: pointer;
    &:hover {
      filter: brightness(1.1) drop-shadow( -3px -3px 6px #fff );
    }
  }

  .ob-foto {
    top: 0;
    left: 2%;
    max-width: 28%;
    z-index: 1;
  }

  .ob-carpeta-fondo {
    top: 1%;
    left: 5%;
    max-width: 76%;
  }

  .ob-propuesta-izq {
    top: 22%;
    left: 3%;
    max-width: 28%;
    transform: rotate(-5deg);
  }

  .ob-propuesta-cen {
    top: 10%;
    left: 29%;
    max-width: 28%;
  }

  .ob-propuesta-der {
    top: 12%;
    left: 54%;
    max-width: 28%;
  }

  .ob-lapiz {
    right: 7%;
    bottom: 9%;
    max-width: 24%;
  }

  detalle-propuesta {
    width: 40%;
    height: 100%;
    .flecha-cambiar-propuesta {
      width: 45px;
      top: 52%;
      position: absolute;
      z-index: 5;
      display: inline-block;
      cursor: pointer;

      &.flecha-izq {
        left: 12%;
      }
      &.flecha-der {
        right: -4%;
      }
    }
  }

  detalle-propuesta-activa {
    position: absolute;
    z-index: 3;
    width: 33%;
    top: 5%;
    left: 7%;

    svg {
      width: 100%;

      .tick {
        display: none;
        &.seleccionada {
          display: block;
        }
      }

      .cr-pointer {
        cursor: pointer;
      }
    }
  }

}
