$desk-color: #5C432F;

.desk {
  background-image: url(/assets/desk-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  /*margin: 0 60px;*/
  overflow: hidden;

  .desk-object {
    position: absolute;
  }

  .clickable-svg {
    cursor: pointer;
    &:hover, &.highlight {
      filter: brightness(1.1) drop-shadow( -3px -3px 6px #fff );
      z-index: 5;
    }
  }

  .ob-lampara {
    top: -25%;
    left: -24%;
    max-width: 72%;
  }

  .ob-cuaderno {
    top: 33px;
    right: 7%;
    max-width: 20%;
  }

  .ob-lapicera {
    top: 135px;
    right: 26%;
    max-width: 67px;
  }

  .ob-telefono {
    bottom: 8%;
    left: 5%;
    max-width: 160px;
  }

  .ob-cafe {
    bottom: 6%;
    right: 6%;
    max-width: 17%;
  }

  .ob-carpetas {
    bottom: 13px;
    right: 31%;
    max-width: 45%;
  }

  .ob-clips {
    top: 40px;
    left: 32%;
    max-width: 100px;
  }

  .ob-anotador {
    top: 20px;
    right: 30%;
    max-width: 26%;
  }

  .ob-lapices {
    top: 230px;
    left: 4%;
    max-width: 175px;
  }
}

.bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.7);
}

.hide {
  display: none;
}