$desk-color: #5C432F;

.desk {
  background-color: $desk-color;
  height: 100vh;
  position: relative;
  /*margin: 0 60px;*/
  overflow: hidden;

  .desk-object {
    position: absolute;
    cursor: pointer;
    &:hover {
      filter: brightness(1.1) drop-shadow( -3px -3px 6px #fff );
    }
  }

  .ob-lampara {
    top: -22%;
    left: -22%;
    max-width: 72%;
  }

  .ob-cuaderno {
    top: 33px;
    right: 1%;
    max-width: 27%;
  }

  .ob-lapicera {
    top: 135px;
    right: 26%;
    max-width: 67px;
  }

  .ob-telefono {
    bottom: 8%;
    left: 5%;
    max-width: 150px;
  }

  .ob-cafe {
    bottom: 6%;
    right: 6%;
    max-width: 17%;
  }

  .ob-carpetas {
    bottom: 13px;
    right: 31%;
    max-width: 45%;
  }

  .ob-clips {
    top: 40px;
    left: 32%;
    max-width: 100px;
  }

  .ob-anotador {
    top: 20px;
    right: 28%;
    max-width: 26%;
  }

  .ob-lapices {
    top: 230px;
    left: 4%;
    max-width: 175px;
  }
}
